### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_players = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [total_players]})
total_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create new dataframe of unique items and their corresponding prices
unique_items = purchase_data.drop_duplicates(subset=["Item ID","Price"])

In [6]:
# Find the # of unique items
unique_items_num = len(unique_items)
# Find the average price of an item by probing the unique_items dataframe
avg_price = round(unique_items["Price"].mean(),2)
# Total purchases is the length of the purchase_data, revenue is a sum of those purchases
total_purchases = len(purchase_data)
total_rev = purchase_data["Price"].sum()

In [7]:
analysis_df = pd.DataFrame({"Number of Unique Items": [unique_items_num],"Average Price": [avg_price],"Number of Purchases":[total_purchases],"Total Revenue":[total_rev]})
analysis_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.04                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# Narrow purchase_data to unique users to find gender data
unique_users = purchase_data.drop_duplicates(subset=["SN","Gender"])
total_users = len(unique_users)
unique_users["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [22]:
user_analysis_df = pd.DataFrame({"Total Count": unique_users["Gender"].value_counts()})
# user_analysis_df.head()

In [62]:
percentages = user_analysis_df["Total Count"] / total_users
user_analysis_df["Percentage of Players"] = percentages
user_analysis_df["Percentage of Players"]= user_analysis_df["Percentage of Players"].map("{:.2%}".format)
user_analysis_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
gender_p = purchase_data.groupby("Gender")
gender_p_sum = pd.DataFrame({"Purchase Count":gender_p["Purchase ID"].count(),
                             "Average Purchase Price":gender_p["Price"].mean(),
                             "Total Purchase Value":gender_p["Price"].sum()})
gender_p_sum["Avg Total Purchase per Person"] = gender_p_sum["Total Purchase Value"] / gender_p["SN"].nunique()
#Reformat
#gender_p_sum["Average Purchase Price"] = gender_p_sum["Average Purchase Price"].map("${:.2f}".format)
#gender_p_sum["Total Purchase Value"] = gender_p_sum["Total Purchase Value"].map("${:,.2f}".format)
#gender_p_sum["Avg Total Purchase per Person"] = gender_p_sum["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_p_sum = gender_p_sum.style.format("${:,.2f}",subset=["Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"])
gender_p_sum

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [117]:
age_bins = [0,9,14,19,24,29,34,39,120]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins,labels=age_labels)

# Limit to unique users
age_df = purchase_data.drop_duplicates(subset=["SN","Age","Age Group"])

# Categorize and limit to single column titled "Total Count"
age_grouped = age_df.groupby("Age Group")
age_counts = age_grouped["Age"].count()

age_stats_df = pd.DataFrame({"Total Counts":age_counts})
age_stats_df

           Total Counts
Age Group
<10                  17
10-14                22
15-19               107
20-24               258
25-29                77
30-34                52
35-39                31
40+                  12

In [118]:
# Gather percentages
age_perc = age_counts / total_users
age_stats_df["Percentage of Players"] = age_perc
age_stats_df["Percentage of Players"] = age_stats_df["Percentage of Players"].map("{:.2%}".format)
age_stats_df

           Total Counts Percentage of Players
Age Group
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
# purchase_data binned by age from previous step
# Need to regroup since previous step narrows to unique users
pur_age_grouped = purchase_data.groupby("Age Group")
pur_count = pur_age_grouped["Purchase ID"].count()

# Average purchase price
avg_pur_price = pur_age_grouped["Price"].mean()

# Total purchase value
total_val = pur_age_grouped["Price"].sum()

# Avg Total purchase per person
avg_total = total_val / pur_age_grouped["SN"].nunique()

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [127]:
# Place in summary table
pur_sum_df = pd.DataFrame({"Purchase Count":pur_count,
                          "Average Purchase Price":avg_pur_price,
                          "Total Purchase Value":total_val,
                          "Avg Total Purchase per Person":avg_total})
# Reformat
pur_sum_df = pur_sum_df.style.format("${:,.2f}",subset=["Average Purchase Price","Total Purchase Value",
                                                        "Avg Total Purchase per Person"])
pur_sum_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [188]:
# Groupby "SN"
sn_grouped = purchase_data.groupby("SN")

# Purchase Count
sn_pur_count = sn_grouped["Purchase ID"].count()

# Avg Purchase Price
sn_avg_price = sn_grouped["Price"].mean()

# Total Purchase Value
sn_total_val = sn_grouped["Price"].sum()

In [189]:
# Place in sumamry table
sn_stats_df = pd.DataFrame({"Purchase Count":sn_pur_count,
                           "Average Purchase Price":sn_avg_price,
                           "Total Purchase Value":sn_total_val})
# Reformat
sn_stats_df = sn_stats_df.sort_values("Total Purchase Value",ascending=False)
sn_stats_df["Average Purchase Price"] = sn_stats_df["Average Purchase Price"].map("${:,.2f}".format)
sn_stats_df["Total Purchase Value"] = sn_stats_df["Total Purchase Value"].map("${:,.2f}".format)
sn_stats_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [141]:
# Groupby "Item ID" w/ second index of "Item Name"
items_grouped = purchase_data.groupby(["Item ID","Item Name"])

# Purchase Count
item_pur_count = items_grouped["Purchase ID"].count()

# Total Purchase Value
item_total_val = item_pur_count * items_grouped["Price"].mean()

In [152]:
# Summary Table
items_df = pd.DataFrame({"Purchase Count":item_pur_count,
                        "Item Price":items_grouped["Price"].mean(),
                        "Total Purchase Value":item_total_val})
# Sort
items_df = items_df.sort_values("Total Purchase Value",ascending=False)
# Reformat
items_df.head().style.format("${:,.2f}",subset=["Item Price","Total Purchase Value"])

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [153]:
# Already did above
items_df.head().style.format("${:,.2f}",subset=["Item Price","Total Purchase Value"])